{% extends 'PlacesRemember/base.html' %}

{% block title %}
Мои воспоминания
{% endblock %}

{% block content %}
{% if user_places %}
<div class="memories-wrap">
    <h1>Воспоминания</h1>
    <ul class="list-memories">
        {% for place in user_places %}
        <li class="memories-item">
            <a href="{% url 'place_detail' place.id %}">
               {{ place.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>У вас нет ни одного воспоминания.</p>
{% endif %}

{% endblock %}