{% extends 'PlacesRemember/base.html' %}
{% load leaflet_tags %}

{% block scripts %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block title %}
  Создать воспоминание
{% endblock %}

{% block content %}

<form action="{% url 'create' %}" method="POST" class="create-memory-wrap">
  {% csrf_token %}
<fieldset class="create-memory">
  <legend>Сохраните ваше любимое место</legend>

  <div class="memory__name">
    <label>{{ place_form.name.label }}:</label>
    {{ place_form.name }}
  </div>

  <div class="memory__geom">
    <label>{{ place_form.geom.label }}:</label>
    {{ place_form.geom }}
  </div>

  <div class="memory__comment">
    <label>{{ place_form.comment.label }}:</label>
    {{ place_form.comment }}
  </div>

  <button type="submit" class="button save-button">Сохранить</button>
</fieldset>
</form>
{% endblock %}